generated/
docs/
.nmlcache/
.chameleon_cache/
.vs/
__pycache__/
*.py[cod]

# The local makefile should be ignored:
Makefile.local
Graphviz/
nmlc.exe
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/firs.iml
